/* DayPicker 커스텀 스타일 */

/* 달력 화살표 색상 */
.rdp-button_previous,
.rdp-button_next {
  color: #1b1b1b !important;
}

.rdp-button_previous:hover,
.rdp-button_next:hover {
  color: #4b4b4b !important;
  background-color: #f5f5f5 !important;
}
